{{#if NAME}}
    <img src="{{PICTURE}}" alt="{{NAME}} {{SURNAME}}" />
    <h1>{{NAME}} {{SURNAME}}</h1>
    <h2>{{EMAIL}}</h2>
{{else}}
    <h1>Login Google</h1>
    <div id="g_id_onload"
         data-client_id={{GOOGLE_CLIENT_ID}}
         data-context="signin"
         data-ux_mode="popup"
         data-login_uri="http://localhost:3001"
         data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-shape="rectangular"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
{{/if}}

